{% load humanize %}
{% load trend %}

<!-- Header -->
<div class="header pb-8 pt-5 pt-md-6 bg-secondary">
    <div class="container-fluid">
        <div class="header-body">
        <!-- Card stats -->
        <div class="row">
            <div class="col-xl-7 col-lg-2">
            <div class="card shadow card-stats mb-4 mb-xl-1 fade-in-top"> 
            <div >
                <h2 style="text-align:center;"> Leap Career Watch </h2>
            </div>  
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
