{% extends 'layouts/base.html' %}

{% block title %} Data {% endblock title %}

{% block content %}

<div class="container-fluid pt-6 bg-secondary">
    <h2>Data</h2>
    <p>Data sources used throughout the project.</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="https://geofred.stlouisfed.org/map/?th=rdpu&cc=5&rc=false&im=fractile&sb&lng=-90.62&lat=43.77&zm=3&sl&sv&am=Average&at=Not%20Seasonally%20Adjusted,%20Monthly,%20Percent,%20no_period_desc&sti=1224&fq=Monthly&rt=county&un=lin&dt=2020-06-01">GeoFRED</a></li>
        <li class="list-group-item"><a href="https://fred.stlouisfed.org/series/UNRATE#">FRED Unemployment Rate</a></li>
    </ul>

    {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
$('.nav-item a').removeClass('active');
$('.data-item a').addClass('active');
</script>
{% endblock javascripts %}
