{% extends 'layouts/base.html' %}
{% load humanize %}
{% block title %} Home {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

    {% include "includes/header.html" %}

    <div class="container-fluid mt--7 bg-secondary">
      <div class="row">
        <div class="col-xl-11 mb-5 mb-xl-0">  <!-- Global interactive cd -->
          <div class="card shadow fade-in-bottom">
            <div class="card-body plotly worldmap">
              <div class="chart">
                {% autoescape off %}
                {{ usa_county_popu }}
                {% endautoescape %}
              </div>
            </div>
            <div style="position: absolute; padding:1.25rem 1.5rem;">
                <h2 class="text-dark mb-0"></h2>
                <h6 class="text-uppercase text-muted ls-1 mb-1">US Unemployment Rate</h6>
            </div>
          </div>
        </div>
      </div>

      
      <div class="row mt-3">
        <div class="col-xl-11 mb-5 mb-xl-0">  <!-- Growth interactive scatterplot -->
          <div class="card bg-dark shadow fade-in-bottom">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Global | Cumulative</h6>
                  <h2 class="text-white mb-0">Growth</h2>
                </div>
                <div class="col text-right">
                  <a class="btn btn-sm btn-light" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Info"
                      data-content="Global cumulative growth in cases since collection of data started. Defaulted to logarithmic y-scale">
                      &nbsp;<i class="fas fa-info text-dark">&nbsp;</i>
                    </a>
                </div>
              </div>
            </div>
            <div class="card-body plotly">
              <div id="realtime_growth_chart" class="chart" style="height: 310px;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-xl-11 mb-5 mb-xl-0">   <!-- Global daily growth plot -->
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Global | Daily</h6>
                  <h2 class="mb-0">Daily Growth</h2>
                </div>
                <div class="col text-right">
                  <a class="btn btn-sm btn-white" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Info"
                      data-content="Daily time series of cases. Bars can be stacked for relative adjacent comparison by toggling 'confirmed' cases.">
                      &nbsp;<i class="fas fa-info">&nbsp;</i>
                    </a>
                </div>
              </div>
            </div>

            <div class="card-body plotly">
              <div id="daily_growth_chart" class="chart"style="height: 310px;"></div>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
$('.nav-item a').removeClass('active');
$('.home-item a').addClass('active');
</script>

<script src="/static/assets/js/fetch-data.js"></script>
{% endblock javascripts %}
